#dialog {height:400px;overflow: auto;position: relative;}
#dialog dl{border-bottom: 1px dashed #204d74; padding-bottom:10px; margin-bottom: 10px;}
#dialog dl img{float:left; padding: 2px; border: 1px solid #cccccc}
#dialog dl .msgcon {float:left; width:600px; margin-left:5px;}
#client_list {margin:0 0 10px 0}
#textarea {width:100%;height:6em;}